@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Oswald', sans-serif;
}

.home-enter-active, .home-leave-active { transition: opacity .5s; }
.home-enter, .home-leave-active { opacity: 0; }
